@media (min-width: 801px) {
  /* header regeler for index */
  header {
    background-color: var(--white) !important;
    margin-bottom: -100px !important;
    z-index: 2 !important;
  }

  .slidermenu {
    z-index: 2 !important;
    color: var(--white);
  }

  .menuIcon,
  .menuIcon2 {
    z-index: 2 !important;
  }

  /* grid layout med knapper */

  #splashimage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.75fr 0.5fr 1fr;
    height: 100vh;
    align-items: center;
    justify-items: center;
  }

  .splash {
    width: 100%;
    height: 100%;
    background-image: url(../index/images/splash.jpg);
    background-size: cover;
    background-position: 75%;
    grid-column: 2;
    grid-row: 1/6;
  }

  .OScontainer {
    text-align: center;
    grid-row: 2;
  }

  .OScontainer h1 {
    font-family: var(--headline);
    font-size: var(--headlinesize);
  }

  .OScontainer h3 {
    font-family: var(--headline);
    font-size: var(--subheadlinesize);
  }
#splashimage figure {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  /* Knapper */

  #btn1{
    width: 100%;
    grid-area: 3/1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }

  #btn2{
    width: 100%;
    grid-area: 3/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }

  .btn1_bg{
    width: 100px;
    height: 50px;
    background-color: var(--black);
    grid-column: 1;
    grid-row: 1;
  }
  .btn2_bg{
    width: 150px;
    height: 50px;
    background-color: var(--black);
    grid-column: 1;
    grid-row: 1;
  }
  
  .ommig_btn {
    width: 100px;
    height: 50px;
    border: none;
    padding: 10px;
    background-color: var(--black);
    font-family: var(--menuoptions);
    font-size: var(--textsize);
    letter-spacing: 2px;
    transition: 0.2s;
    grid-column: 1;
    grid-row: 1;
    
  }
  .ommig_btn a {
    color: var(--white);
    text-decoration: none;
  }
  
  .projekter_btn {
    width: 150px;
    height: 50px;
    border: none;
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    font-family: var(--menuoptions);
    font-size: var(--textsize);
    letter-spacing: 2px;
    transition: 0.2s;
    grid-column: 1;
    grid-row: 1;
  }

  .projekter_btn a {
    color: var(--black);
    text-decoration: none;
  }

  .projekter_btn:hover {
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin-top: 10px;
    margin-left: 20px;
  }

  .projekter_btn:hover > a {
    color: var(--black);
  }
  .ommig_btn:hover {
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin-top: 10px;
    margin-left: 20px;
  }

.ommig_btn:hover > a {
    color: var(--black);
  }
}

/** ----------- Mobil version ----------- */

@media (max-width: 800px) {

  /* header regeler for index */
  header {
    background-color: var(--white) !important;
    z-index: 2 !important;
  }
  header h1{
      color: var(--black);
  }

  .slidermenu {
    z-index: 2 !important;
  }
  .slidermenu a{
    color: var(--black);
  }

  .menuIcon, .menuIcon2 {
    z-index: 2 !important;
  }

/* Grid layout */

  #splashimage {
    width: 100%;
    height: 100vh;
    background-image: url(../index/images/splash.jpg);
    background-size: cover;
    background-position: 50%;
    display: grid;
    justify-items: center;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 0.3fr 0.1fr 0.1fr 0.2fr;
  }

  .OScontainer {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    grid-column: 2;
    grid-row: 2/5;
    text-align: center;
    padding: 10%;
  }

  .OScontainer h1 {
    font-family: var(--headline);
    font-size: var(--headlinesize);
    margin-top: 30px;
    padding-inline: 2%;
  }

  .OScontainer h3 {
    font-family: var(--headline);
    font-size: var(--subheadlinesize);
    margin-top: 30px;
    padding-inline: 2%;

  }

  #splashimage figure{
      display: none;
  }

 /* Knapper */

  #btn1{
    width: 100%;
    grid-area: 3/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    align-self: start;

  }

  #btn2{
    width: 100%;
    grid-area: 4/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    align-self: start;
  }

  .btn1_bg{
    width: 100px;
    height: 50px;
    background-color: var(--black);
    grid-column: 1;
    grid-row: 1;
  }
  .btn2_bg{
    width: 150px;
    height: 50px;
    background-color: var(--black);
    grid-column: 1;
    grid-row: 1;
  }
  
  .ommig_btn {
    width: 100px;
    height: 50px;
    border: none;
    padding: 10px;
    background-color: var(--white);
    font-family: var(--menuoptions);
    font-size: var(--textsize);
    letter-spacing: 2px;
    grid-column: 1;
    grid-row: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin-top: 10px;
    margin-left: 10px;
  }
  .ommig_btn a {
    color: var(--black);
    text-decoration: none;
  }
  
  .projekter_btn {
    width: 150px;
    height: 50px;
    border: none;
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    font-family: var(--menuoptions);
    font-size: var(--textsize);
    letter-spacing: 2px;
    grid-column: 1;
    grid-row: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin-top: 10px;
    margin-left: 10px;
  }

  .projekter_btn a {
    color: var(--black);
    text-decoration: none;
  }



}
