/** Header regeler */

header{
    background-color: var(--headerright) !important;
}

header a{
    color: var(--headerleft) !important;
}
a{
    text-decoration: none;
}

/* Desktop version */

@media (min-width: 801px){

#temaindhold2{
    display: none;
}

/* Section grid layout */

#content{
   display: grid;
    grid-template-columns: 250px minmax(10px, 1fr);
    grid-gap: 1.5rem;
    padding-top: 1.5rem;
    padding-inline: 1.5rem;
}

/* Labels Container sticky */

#labelwrapper{
    padding-top: 20px;
    position: sticky;
    top: 0;
    align-self: start;
    display: grid;
    gap: 20px;
}


/* Boxes farver og hover */

#box{
    width: 100%;
    height: 75px;
    background-color: var(--black);
    display: grid;
    

}

#box2{
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background-color: var(--black);
    color: var(--white);
    display: grid;
    align-items: center;
    font-family: var(--menuoptions);
    font-size: var(--subheadlinesize);
    padding: 5%;
    justify-content: center;
    

}

#box:hover{
    background-color: var(--tema2);
}

#box:hover > #box2{
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: var(--white);
    color: var(--black);
}


/* Tema indhold container */

#temaindhold{
    display: grid;
    row-gap: 60px;
}

/* Text Font & størrelse */

.font h3{
    font-size: var(--headlinesize);
    font-family: var(--headline);
}
.font p{
    font-size: var(--textsize);
    font-family: var(--text);
}

/* Favicon Indhold */

#contentwrapper1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2;
    grid-row: 1;
    padding-top: 20px;
    column-gap: 1rem;
    align-items: center;
    justify-items: center;
}

#contentwrapper1 figure{
    width: clamp(50%, 25vw, 80%);
}

#textwrapper1{
    display: grid;
    row-gap: 1rem;

    line-height: 1.5;
}

/* Moodboard */ 

#contentwrapper2{
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 2;
    grid-row: 2;
    row-gap: 1rem;
}

#textwrapper2{
    display: grid;
    row-gap: 1rem;
    line-height: 1.5;
}

/* photoshop */

#contentwrapper3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2;
    grid-row: 3;
    align-items: center;
}

#textwrapper3{
    display: grid;
    row-gap: 1rem;
    height: fit-content;
    line-height: 1.5;
}


/* Splash Image */

#contentwrapper4{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    grid-column: 2;
    grid-row: 4;
}

#textwrapper4{
    display: grid;
    row-gap: 1rem;
    height: fit-content;
    line-height: 1.5;
}


}

/* Mobil Version */

@media (max-width: 800px) {


#labelwrapper{
    display: none;
}

#content{
    display: none;
}

#temaindhold2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    padding-inline: 2%;
}

/* Text Font & størrelse */

.font h3{
    font-size: var(--subheadlinesize);
    font-family: var(--headline);
}
.font p{
    font-size: var(--textsize2);
    font-family: var(--text);
    line-height: 1.5;
}

/* Favicon Indhold */

#contentwrapper1{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
    gap: 1rem;
}

#contentwrapper1 h3{
    order: 1;
}

#contentwrapper1 figure{
    order: 3;
}

#contentwrapper1 p{
    order: 2;
}

/* Moodboard */ 

#contentwrapper2{
    display: grid;
    grid-template-columns: 1fr;
     gap: 1rem;
}
#contentwrapper2 h3{
    order: 1;
}

#contentwrapper2 figure{
    order: 2;
}

#contentwrapper2 p{
    order: 3;
}


/* photoshop */

#contentwrapper3{
    display: grid;
    grid-template-columns: 1fr;
     gap: 1rem;
}

#contentwrapper3 h3{
    order: 2;
}

#contentwrapper3 figure{
    order: 1;
}

#contentwrapper3 p{
    order: 3;
}

/* Splash Image */

#contentwrapper4{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-bottom: 10%;
}
#contentwrapper4 h3{
    order: 1;
}

#contentwrapper4 figure{
    order: 2;
}

#contentwrapper4 p{
    order: 3;
}


}