
/** Header regeler */

header{
    background-color: var(--headerright) !important;
}

header a{
    color: var(--headerleft) !important;
}

.ommig {
  --repeat: auto-fit;
}
@media (min-width: 801px) {
  #ommig {
    --repeat: 2;
  }
}


/** Desktop Version */


#ommig {
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(var(--repeat, auto-fit), minmax(200px, 1fr));
    grid-template-rows: 1fr 0.7fr;
    padding-inline: 5%;
    align-items: center;
    column-gap: 60px;
    row-gap: 20px;
    
}

/* Profil billede */

#container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    justify-items: center;
    padding-right: 4%;
}

#figure2{
    background-color: var(--black);
}

.profilbillede2{
    background-color: var(--black);
    opacity: 0;
}

#ommig figure {
/*     margin-top: 20px;
    margin-left: 20px; */
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    grid-column: 1;
    grid-row: 1;
}

.profilbillede{
    margin-top: 20px;
    margin-left: 20px;
    aspect-ratio: 1/1;
    display: block;
    box-shadow: var(--shadow);
}

/* Text 1 */

#text1{
    display: grid;
    gap: 20px;
}

#text1 h1{
    font-size: var(--headlinesize2);
    font-family: var(--headline);
}

#text1 p{
    font-size: var(--textsize);
    font-family: var(--text);

}

/* Text 2 */

#text2{
    display: grid;
    gap: 20px;
}

#text2 h3{
    font-size: var(--subheadlinesize);
    font-family: var(--headline);
}

#text2 p{
    font-size: var(--textsize);
    font-family: var(--text);
}

/* Labels */

#labels{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    justify-content: center;
 /*    justify-items: center;
    align-items: center; */
    column-gap: 50px;
    row-gap: 25px;
    text-align: center;
    justify-items: center;
}

.label1{
    background-color: var(--photoshop);
}
.label2{
    background-color: var(--premierepro);
}
.label3{
    background-color: var(--illustrator);
}
.label4{
    background: linear-gradient(110deg, var(--photoshop) 50%, var(--illustrator) 50%);
}
.label5{
    background-color: var(--tema6);
}
.label6{
    background-color: var(--premierepro);
}


#box{
    width: 120%;
    height: 100%;
    display: grid;
    
}

#box2{
    width: 100%;
    height: 100%;
    transition: 0.3s;
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: var(--shadow);
    background-color: var(--white);
    color: var(--black);
    display: grid;
    align-items: center;
    font-family: var(--menuoptions);
    font-size: var(--textsize);
    padding: 5%;
    justify-content: center;

}