/** ----------- Global Rules ----------- */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
img {
  width: 100%;
}

:root {
  /* colors */
  --textcolor: #ff7d00;
  --styleling: #15616d;
  --background: #fff7eb;
  --black: black;
  --white: white;
  /* Projekter farver*/
  --tema2: #ff003f;
  --tema3: #01f9c6;
  --tema4: #fc74fd;
  --tema5: #21fc0d;
  --tema6: #ffcf00;
  /* Om mig Labels farver*/
  --photoshop: #27CDF2;
  --premierepro: #EA77FF;
  --illustrator: #F28705;
  --css: #F28705;
  /* fonts */
  --headline: "Sarabun", sans-serif;
  --text: "Urbanist", sans-serif;
  --menuoptions: "BN", cursive;
  /* fonts size */
  --headlinesize: clamp(2rem, 4vw, 3.5rem);
  --headlinesize2: clamp(2.5rem, 5vw, 4.5rem);
  --subheadlinesize: clamp(1.3rem, 3vw, 2rem);
  --textsize: clamp(1rem, 2vw, 1.8rem);
  --textsize2: clamp(0.5rem, 2vw, 1rem);
  --menusize: clamp(1.1rem, 2vw, 1.5rem);
  /* Box shadow */
  --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;/* rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset */
  /* scrollbar indicator */
  --scroll: 0;
  --scrollbar-height: 5px;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400&display=swap");
@font-face {
    font-family: 'BN';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Når der bliver scrolled ved hjælpe af et link på den sammme side.*/

html {
  scroll-behavior: smooth;
}




/** ----------- Desktop Version Header ----------- */

@media (min-width: 801px) {
  .menuIcon, .menuIcon2 {
    display: none;
  }

  header {
    width: 100%;
    height: 100px;
    display: grid;
    place-content: center;
    gap: 10px;
    background-color: var(--background);
    grid-template-columns: 1fr 1fr;
  }

  header h1 {
    text-align: left;
    padding-left: 10%;
    font-family: var(--headline);
    font-size: var(--subheadlinesize);
    color: var(--headerleft);
  }

  header a {
    text-decoration: none;
    color: var(--headerright);
  }

  header ul {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .slidermenu li {
    list-style: none;
    font-family: var(--menuoptions);
    letter-spacing: 2px;
    font-size: var(--menusize);
  }

  .slidermenu {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    
  }

.slidermenu li:hover > a {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}



}

/** ----------- Mobil Version Header ----------- */

@media (max-width: 800px) {
  /* tilføj klasse til body så man ikke kan scrolle påside når burger menu åbne */
   .stopScroll{
    margin: 0; 
    height: 100%; 
    overflow: hidden
  }
/* header størrelse, farve og fonts */
  header {
    width: 100%;
    height: 75px;
    background-color: var(--background);
  }

  header a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--menuoptions);
  }

  header h1 {
    padding-left: 5%;
    font-family: var(--headline);
  }

.stop{
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: var(--white) !important;
  }

  /* hamburger og kryds iconer */

  .menuIcon, .menuIcon2  {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .menuIcon img {
    width: 60px;
    padding-right: 5%;
  }
  .menuIcon2 img {
    width: 60px;
    padding-right: 5%;
  }
/* grid hvor hamburger og title er placeret */
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 75px;
  }

  /* hamburger menu der kommer til syne med links */

  .slidermenu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    top: 74px;
    transform: translateX(0%);
    transition: 0.5s;
    z-index: 100;
  }

  .slidermenu li {
    list-style: none;
    font-size: 1.5rem;
    padding-inline-start: 5%;
    padding-top: 5%;
    text-align: center;
  }

  .slidermenu li:hover > a {
  text-decoration: underline;
    text-underline-offset: 0.3em;
}
/* ".skjult" placere ".slidermenu" til højre unde af syne, ".gone" skjuler ".menuicon & .menuicon2" */
  .skjult {
    transform: translateX(100%);
  }

  .gone {
    display: none;
  }

}


/** ----------- Desktop & mobil Version Footer ----------- */

 footer{
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 500px ;
    min-height: 300px ;
    align-items: center;
    gap: 0.4rem;
    align-self: start;
    justify-items: center;
    padding-inline: 1rem;
  }

  #icons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 50px));
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 10px;
  }

  .links{
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 75px));
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 1rem;
  }

  .links a{
    text-decoration: none;
    font-family: var(--menuoptions);
    font-size: var(--menusize);
    letter-spacing: 2px;
    color: black;
  }

.link1:hover > a{
  text-decoration: underline;
    text-underline-offset: 0.3em;
}
.link2:hover > a{
  text-decoration: underline;
    text-underline-offset: 0.3em;
}
.link3:hover > a{
  text-decoration: underline;
    text-underline-offset: 0.3em;
}
.link4:hover > a{
  text-decoration: underline;
    text-underline-offset: 0.3em;
}
.link5:hover > a{
  text-decoration: underline;
    text-underline-offset: 0.3em;
}

  #info{
     display: grid;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 1rem;
  }

  #info h1{
    font-family: var(--headline);
    font-size: var(--subheadlinesize);
  }

  #info h3{
    font-family: var(--headline);
    font-size: var(--menusize);
  }
  #info a{
    font-family: var(--headline);
    font-size: var(--menusize);
    text-decoration: none;
    color: var(--black);
  }